*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  box-sizing: inherit;
  font-family: $abeeze;
  font-size: 0.8rem;
  background-color: #fff;
}
a {
  text-decoration: none;
}

.cta-btn,
button {
  cursor: pointer;
}
