.heading-third {
  font-family: $abeeze;
  font-size: 1.6rem;
}
.sub-heading {
  font-family: $abeeze;
  font-size: 1rem;
  color: #b7b7b7;
}
.text-font {
  font-family: $abeeze;
  font-size: 0.9rem;
  line-height: 2;
  color: #858585;
}
.heading-second {
  font-size: 1.9rem;
  font-family: $abeeze;
  color: #fff;
}
.heading-primary {
  font-family: $abeeze;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
