.heading-third {
  font-family: $abeeze;
  font-size: 1.2rem;
}
.sub-heading {
  font-family: $abeeze;
  font-size: 1rem;
  color: #b7b7b7;
}
.text-font {
  font-family: $abeeze;
  font-size: 0.9rem;
  line-height: 2;
  color: #858585;
}
