.pd-md-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.border-bm {
  border-bottom: 1.3px solid rgba($color: $gray-footer, $alpha: 0.15);
  padding-bottom: 0.8rem;
}
.pd-left-md {
  padding-left: 2rem;
}
.text-center {
  text-align: center;
}

.pb-3 {
  padding-bottom: 3rem;
}
.pt-3 {
  padding-top: 3rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-1 {
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-1 {
  margin-top: 1rem;
}
