.pd-md-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.border-bm {
  border-bottom: 1.3px solid rgba($color: $gray-footer, $alpha: 0.15);
  padding-bottom: 0.8rem;
}
.pd-left-md {
  padding-left: 2rem;
}
