$bg-blue: #1d71b8;
$poppins: "poppins", sans-serif;
$roboto: "Roboto", sans-serif;
$abeeze: "ABeeZee", sans-serif;
$blue-gradient-2: #0097a7;
$blue-gradient: #26c6da;
$gray-color: #e6e6e6;
$gray-color-2: #f2f2f2;

// 1rem =1em= 16px = 62.5%
