.navbar {
    display: flex;
    height: 4rem;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    background-color: $bg-blue;
    &__list{
        flex: 0 0 30%;
        display: flex;
        justify-content: space-around;
        list-style-type: none;
    }
    &__item{
        font-size: 0.9rem;
        
    }
    &__link{
        color: #fff;
        text-decoration: none;
    }
}
.navbar-fixed{
    display: flex;
    padding: 0 3rem;
   &__list{
       list-style-type: none;
     

   }
   &__item{

   }
   &__link{

   }
}