.navbar {
  display: flex;
  height: 4rem;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  background-color: $bg-blue;
  &__list {
    flex: 0 0 35%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    height: 100%;
  }
  &__item {
    font-size: 0.9rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    height: 100%;
    transition: 0.2s all ease-in-out;
  }
  &__item:hover {
    background-color: #fff;
  }
  &__item:hover &__link {
    color: rgb(223, 80, 80);
  }
  &__link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    transition: 0.2s all ease-in-out;
  }
}
.navbar-fixed {
  display: flex;
  padding: 0.8rem 3rem;
  justify-content: space-between;

  &__list {
    list-style-type: none;
    display: flex;
    flex: 0 0 60%;
    align-items: center;
    justify-content: flex-end;
  }
  &__item:not(:last-child) {
    flex: 0 0 8rem;
    display: flex;
    justify-content: flex-end;
  }
  &__item:last-child {
    flex: 0 0 5rem;
    display: flex;
    justify-content: flex-end;
  }
  &__link {
    text-decoration: none;
    color: #000;
    font-family: $roboto;
    font-weight: 400;
    font-size: 1rem;
  }
  &__link {
    position: relative;
  }
  &__link::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $bg-blue;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.1s ease-out;
  }
  &__link:active::before {
    background-color: $bg-blue;
  }
  &__link:hover,
  &__link:focus {
    color: $bg-blue;
  }
  &__link:hover::before,
  &__link:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}
