.events {
  padding-bottom: 2rem;
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
  }
  &__card {
    grid-column: span 1;
    font-family: $abeeze;
    box-shadow: 0 3px 30px rgba(#000, 0.1), 0 3px 20px rgba(#000, 0.1);
    border-radius: 0.5rem;
    transition: 0.2s all ease-in-out;
    &:hover {
      transform: translateY(-0.2rem) scale(1.05);
      box-shadow: 0 20px 30px rgba(#000, 0.1), 0 20px 20px rgba(#000, 0.1);
    }
  }

  &__img {
    width: 100%;
    img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem 0.5rem 0 0;
    }
  }
  &__description {
    display: flex;
    padding: 1.5rem;
  }
  &__details {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
  }
  &__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 3.3px solid $bg-blue;
    &--day {
      font-size: 2.2rem;
      margin-bottom: 0.4rem;
      color: $bg-blue;
    }
    &--months {
      color: #000;
      font-size: 1rem;
    }
  }
  &__heading {
    color: #000;
    font-size: 1.15rem;
    line-height: 1.4;
  }
  &__time {
    span:not(:last-child) {
      margin-bottom: 0.4rem;
    }
    font-size: 0.85rem;
    color: $bg-blue;
    i {
      margin-right: 10px;
    }
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
}
.btn-inline-box {
  width: 100%;
  display: flex;
  padding: 3rem 0;
  justify-content: center;
  font-family: inherit;
}
